<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container" th:fragment="content">
        <h1 class="mt-4">Product List</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Dprice</th>
                    <th>Descripition</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>CreatedAt</th>
                    <th>CreatedBy</th>
                    <th>Action</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
    <td th:text="${product.proId}"></td>
    <td th:text="${product.proName}"></td>
    <td th:text="${product.proPrice}"></td>
    <td th:text="${product.proDprice}"></td>
    <td th:text="${product.proDescripition}"></td>
    <td th:text="${product.proBrand}"></td>
    <td th:text="${product.proCategory}"></td>
    <td th:text="${product.proCreatedAt}"></td>
    <td th:text="${product.proCreatedBy}"></td>
    <td>
        <a th:href="@{/delete(proId=${product.proId})}" 
        class="btb btn-sm btn-danger"
           onclick="return confirm('Are you sure you want to delete this item?');">
           Delete
        </a>
    </td>
    <td>
    <a th:href="@{/edit(proId=${product.proId})}" 
       class="btn btn-sm btn-primary"
       title="Edit this item">
       Edit
    </a>
</td>
</tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
